* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}



.form-input {
  /* margin-bottom: 10px; */
  margin: 20px 50px;
  display: flex;
  flex-direction: row;
}
.form-input label {
  /* display: block; */
  font-size: 14px;
  width: 120px;
}

.form-input input {
  border: 1px solid #CCC;
  font-size: 14px;
  padding: 5px 10px;
  /* display: block; */
}

.header{
  /* margin: 20px 50px; */
  padding: 10px 40px;
  text-align: justify;
  background-color:  black;
  text-decoration-color: white;
   color:white;
 
}
body{
  background-color:rgb(255, 255, 255) transparent;
  
}

.total input{
  margin: 20px 50px;
  display: flex;
  flex-direction: row;
 
  
}

.total-input label {
  font-size: 14px;
  width: 120px;
}
.total label{
  width: 120px;
}
